{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1>Liste des artciles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Catégorie</th>
                <th>Date de création</th>
                <th>Date de mise a jour</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.content }}</td>
                <td>{{ post.category.name}}</td>
                <td>{{ post.createdAt ? post.createdAt|date("Y-m-d H:i:s") : '' }}</td>
                <td>{{ post.updatedAt? post.updatedAt|date("Y-m-d H:i:s") : '' }}</td>
                <td>
                    <div class="d-flex">
                        <a class="btn btn-primary mx-1" href="{{ path('app_admin_post_edit', {'id': post.id}) }}">Modifier</a>
                        {{ include('admin_post/_delete_form.html.twig') }}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
